header {
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid black;
  height: 90px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 0px 20px;
  width: 100%;
}

.logo-left {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.logo {
  height: 60px;
  width: 70px;
  align-self: center;
}

span.logo-text {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-left: 15px;
  align-self: center;
}


a {
  color: black;
  margin-right: 15px;
}

.top-menu {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  align-self: center;
  margin-right: 50px;
}
