h1 {
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

h2 {
  display: flex;
}

h3 {
  margin: 0px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-family: Georgia, serif;
  text-transform: uppercase;
  text-align: center;
}

a {
  color: black;
  margin-right: 15px;
}

/*header*/
header {
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  min-height: 90px;
  padding-left: 20px;
  margin-right: 15px;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: #ffffff;
}

.logo-left {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.logo {
  height: 60px;
  width: 70px;
  align-self: center;
}

span.logo-text {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-left: 15px;
  align-self: center;
}

.top-menu {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  align-self: center;
  margin-right: 50px;
}

/*containers*/
.main-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
}

.column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.column.large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.nest {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

.nest-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 315px;
  height: 600px;
}

.article {
  width: 629px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-text {
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
}

.article-mother {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-repeat: no-repeat;
  width: 629px;
  height: 300px;
  padding-left: 20px;
}

.article-nest {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  margin-bottom: 20px;
}

.article-earth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  width: 300px;
  height: 300px;
}

.article-camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  width: 300px;
  height: 300px;
}

.article-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  width: 300px;
  height: 300px;
}

.article-medium {
  width: 300px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.bite {
  text-align: left;
}

.news-bites h3 {
  width: 240px;
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
 }

.news-bites .bite {
    display: block;
    width: 240px;
    margin: 0;
    padding: 11px 20px;
    border-bottom: 1px solid black;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    background-color: WhiteSmoke;
}

/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  padding: 100px;
}

.footer-content {
  margin-left: 20px;
  font-family: Verdana;
  font-size: 12px;
}

.footer-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

.copyright {
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  flex: 0 100%;
  margin-top: 20px;
}
